.userHome {
  height: 753px;
  background: #fafcff;
  align-items: center;
}
.userHome > section {
  column-gap: 2%;
}
/* menubar */
.menuBar {
  height: 678px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  flex: 3;
  padding-left: 35px;
  margin-bottom: 50px;
}

/* menubar */
.mainBox {
  height: 678px;
  flex: 7;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.5%;
}
.balanceBox {
  width: 100%;
  background: #6379f4;
  border-radius: 20px;
  margin-bottom: 2.5%;
  height: 190px;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5%;
}
.infoDana > h5 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #e0e0e0;
}
.infoDana > h2 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #ffffff;
}

.infoDana > p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #dfdcdc;
}
.actionDana {
  flex-direction: column;
  column-gap: 16px;
}
.actionDana > button {
  height: 57px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 16px;
  width: 162px;
}
/* chart */
.chartBox {
  height: 468px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  width: 51%;
}
.headChart {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 41px;
}
.headInfo {
  padding-top: 30px;
}
.imgBoxChart {
  width: 28px;
  height: 28px;
}

.textInfoHead {
  padding-top: 15px;
}
.textInfoHead > p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6a6a6a;
}
.textInfoHead > h5 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}
.mainChart {
  height: 287px;
}
.chartView {
  height: 223px;
  display: flex;
}
.bulletChart {
  width: 14.28%;
}
.bulletViewBlue {
  width: 14px;
  background: #6379f4;
  border-radius: 15px;
  height: 1%;
}
.bulletViewSilver {
  width: 14px;
  background: #9da6b5;
  border-radius: 15px;
  height: 1%;
}
.textView {
  display: flex;
}
.daysView {
  width: 14.28%;
  text-align: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #8f8f8f;
  padding-top: 15px;
}
/* chart */
.historyBox {
  height: 468px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  width: 46.5%;
  padding: 0 30px;
}
.imgBoxHistory {
  width: 56px;
  height: 56px;
}
.historyInfo {
  display: flex;
  justify-content: space-between;
}
.historyInfo > h4 {
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}
.historyInfo > p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #6379f4;
  margin-top: 33px;
  cursor: pointer;
}
.listHistory {
  height: 56px;
  margin-bottom: 40px;
}
.historyUserInfo {
  padding-left: 15px;
}
.historyUserInfo > h5 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #4d4b57;
}
.historyUserInfo > p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #7a7886;
}
.historyInfoPrice {
  align-items: center;
  justify-content: flex-end;
}
.historyInfoPrice > h5 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.plusPrice {
  color: #1ec15f;
}
.minPrice {
  color: #ff5b37;
}
/* history */
.mainBoxHistory {
  min-height: 678px;
  flex: 7;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  margin-bottom: 50px;
}
.boxSelect {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.boxSelect > select {
  width: 140px;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 40px;
  background: rgba(58, 61, 66, 0.1);
  border-radius: 12px;
  border: none;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  color: #000000;
}
.boxList {
  flex: 1;
}
/* history */

@media only screen and (max-width: 950px) {
  .userHome {
    height: auto;
    padding: 20px auto;
  }
  .userHome > section {
    column-gap: 2%;
    flex-direction: column;
  }
  .menuBar {
    margin: 20px auto;
    width: 100%;
  }
  .mainBox {
    width: 100%;
    height: auto;
    flex: 7;
    display: flex;
    flex-direction: column;
    column-gap: 2.5%;
  }
  .mainBoxHistory {
    width: 100%;
    height: auto;
    flex: 7;
    display: flex;
    flex-direction: column;
    column-gap: 2.5%;
  }
  .balanceBox {
    margin: 30px auto;
  }
  .chartBox {
    margin: 30px auto;
    width: 100%;
  }
  .historyBox {
    margin: 30px auto;
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .infoDana > h5 {
    font-size: 16px;
    line-height: 28px;
  }
  .infoDana > h2 {
    font-size: 35px;
    line-height: 47px;
  }
}
@media only screen and (max-width: 450px) {
  .infoDana > h5 {
    font-size: 14px;
    line-height: 25px;
  }
  .infoDana > h2 {
    font-size: 30px;
    line-height: 45px;
  }
  /* history */
  .historyUserInfo > h5 {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #4d4b57;
  }
  .historyUserInfo > p {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #7a7886;
  }
  .historyInfoPrice > h5 {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
  }
  .boxSelect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  /* history */
}
