/*leftAuth */
.authleft {
  min-height: 961px;
  background: #6379f4;
}
.uphead {
  min-height: 270px;
}
.downhead {
  min-height: 691px;
  background: #6a7ff5;
}
.wave1 {
  width: 49%;
  position: absolute;
  bottom: 395px;
  left: 0;
  z-index: 5;
}
.wave2 {
  width: 49%;
  position: absolute;
  bottom: 375px;
  left: 0;
  z-index: 10;
}
.mainHead {
  position: absolute;
  z-index: 11;
  min-height: 961px;
  width: 50%;
  padding-left: 5%;
  top: 0;
}
.titleHead {
  margin-top: 63px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 40px;
  color: white;
}

.btnLogin {
  margin-top: 55px;
  margin-right: 30px;
  width: 120px;
  height: 59px;
  background: #6379f4;
  border: 2px solid #ffffff;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.btnSignUp {
  margin-top: 55px;
  margin-right: 30px;
  width: 120px;
  height: 59px;
  background: #ffffff;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #6379f4;
  border: none;
}
.forgotPass {
  padding-bottom: 20px;
}
.textForgot {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: rgba(58, 61, 66, 0.8);
}
.btnActive {
  background: #6379f4;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  color: white;
}
.btnDisable {
  color: #88888f;
  background: #dadada;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
}
.textHeading {
  padding-top: 141px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  color: #ffffff;
}
.textParagraph {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #ffffff;
}
.btnHeading {
  margin-top: 50px;
  background: #ffffff;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  border: none;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #6379f4;
  width: 173px;
  height: 57px;
}
.imgBox {
  display: flex;
  align-items: flex-end;
  padding-top: 10%;
}
.imgHeader {
  width: 80%;
  height: 70%;
}
.infoAuth {
  padding-right: 15%;
}
.infoAuth > h5 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}
.infoAuth > p {
  padding-top: 30px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.8);
}
/*leftAuth */
/* rightAuth */
.authRight {
  width: 100%;
  min-height: 961px;
  padding-left: 30px;
  padding-top: 121px;
}
.authRight > section {
  padding-top: 60px;
  padding-right: 30%;
}
.authRight > section > p {
  padding-top: 30px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: rgba(58, 61, 66, 0.8);
}
.authTitle {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #3a3d42;
}
.authText {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(58, 61, 66, 0.6);
  padding-right: 30%;
  padding-top: 30px;
}
.configForm {
  padding-bottom: 40px;
}
.inputStyle {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: rgba(169, 169, 169, 0.8);
  padding: 10px 10px;
  background-color: white;
  height: 44px;
  border: none;
  border-radius: 0;
  border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
}
.inputStyleActive {
  color: #3a3d42;
  border-bottom: 1.5px solid #6379f4;
}
.inputStyleError {
  color: #3a3d42;
  border-bottom: 1.5px solid #ff5b37;
}
.iconForm {
  width: 24px;
  height: 24px;
}
.btnForm {
  height: 57px;
  border: none;
  border-radius: 12px;
  /* Bold (Button) */

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
/* rightAuth */
/* eror auth */
.errMsg {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #ff5b37;
  text-align: center;
  padding: 15px auto;
}
/* eror auth */
/* pin */
.boxPin {
  width: 53px;
  height: 65px;
  background: #ffffff;
  border: 1px solid rgba(169, 169, 169, 0.6);
  box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
  border-radius: 10px;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
}
.boxPinActive {
  border: 1px solid #6379f4;
}
.boxPin > input {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #3a3d42;
  width: 35px;
  height: 55px;
  border: none;
  text-align: center;
  border-bottom: 1px solid rgba(169, 169, 169, 0.4);
}

/* pin */

/* responsive tablet */
@media only screen and (max-width: 990px) {
  .wave1 {
    width: 100%;
    bottom: 325px;
  }
  .wave2 {
    width: 100%;
    bottom: 305px;
  }
  .mainHead {
    width: 100%;
    padding-left: 5%;
  }
  .imgBox {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 0;
  }

  .infoAuth {
    padding-right: 0;
    text-align: center;
    padding: 0 15%;
  }
  .authTitle,
  .authText {
    padding: 0 10%;
    padding-top: 40px;
  }
  .authRight > section {
    padding: 0 10%;
    padding-top: 40px;
  }
}
@media only screen and (max-width: 450px) {
  .infoAuth {
    padding-right: 0;
    text-align: center;
    padding: 0 5%;
  }
  .authTitle,
  .authText {
    padding: 0 5%;
    padding-top: 40px;
  }
  .authRight > section {
    padding: 0 5%;
    padding-top: 40px;
  }
}

/* responsive tablet */
