/* header */
/* @font-face {
  font-family: "Nunito Sans";
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
} */
.header {
  min-height: 900px;
  background: #6379f4;
}
.uphead {
  height: 400px;
}
.downhead {
  min-height: 500px;
  background: #6a7ff5;
}
.wave1 {
  position: absolute;
  bottom: 215px;
  z-index: 5;
}
.wave2 {
  position: absolute;
  bottom: 200px;
  z-index: 10;
}
.mainHead {
  position: absolute;
  z-index: 11;
  min-height: 900px;
  width: 80%;
  margin: 0 10%;
  top: 0;
}
.titleHead {
  margin-top: 63px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 40px;
  color: white;
}

.btnLogin {
  margin-top: 55px;
  margin-right: 30px;
  width: 120px;
  height: 59px;
  background: #6379f4;
  border: 2px solid #ffffff;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.btnSignUp {
  margin-top: 55px;
  margin-right: 30px;
  width: 120px;
  height: 59px;
  background: #ffffff;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #6379f4;
  border: none;
}
.textHeading {
  padding-top: 141px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  color: #ffffff;
}
.textParagraph {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #ffffff;
}
.btnHeading {
  margin-top: 50px;
  background: #ffffff;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  border: none;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #6379f4;
  width: 173px;
  height: 57px;
}
.imgBox {
  display: flex;
  align-items: flex-end;
  height: 786px;
}
.imgHeader {
  width: 80%;
  height: 70%;
}
/* header */

/* main */
.partners {
  width: 100%;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  height: 300px;
  align-items: center;
  background: rgba(71, 58, 209, 0.06);
}
.imgLogo {
  width: 15%;
}
/* main */

/* about */
.about {
  height: 839px;
  width: 100%;
  padding: 0 10%;
  background: #f8fafd;
}
.aboutHead {
  margin-bottom: 70px;
}
.aboutHeadText {
  padding-top: 120px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  color: #3a3d42;
  text-align: center;
}
.aboutColorText {
  color: #6379f4;
}
.aboutHeadPara {
  padding-top: 30px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: #3a3d42;
}
.aboutBody {
  display: flex;
  justify-content: space-between;
}
.listBox {
  background: #ffffff;
  box-shadow: 0px 4px 250px rgba(172, 172, 172, 0.15);
  border-radius: 25px;
  width: 30%;
  height: 344px;
  text-align: center;
  padding: 40px 30px;
  padding-bottom: 0;
}
.bulletImg {
  width: 60px;
  height: 60px;
  background: rgba(98, 86, 225, 0.1);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 35px;
}
.listBox > h5 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #3a3d42;
}
.listBox > p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: rgba(58, 61, 66, 0.9);
}
/* about */
/* features */
.features {
  min-height: 1015px;
  width: 100%;
  padding: 0 10%;
  background: rgba(71, 58, 209, 0.06);
}
.infoFeaturesImg {
  height: 1015px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.infoFeaturesText {
  height: 1015px;
}
.infoFeaturesText > h2 {
  padding-top: 174px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  color: #3a3d42;
  padding-bottom: 10px;
}
.listFeaturesBox {
  margin-top: 30px;
  min-height: 127px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 15px;
}
.listFeaturesBox > h5 {
  padding-top: 10px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  color: #3a3d42;
}
.listFeaturesBox > p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: rgba(58, 61, 66, 0.9);
}
/* features */
/* testimoni */
.testimoni {
  height: 981px;
  width: 100%;
  padding: 0 10%;
  background-color: #fafcff;
}
.testimoni > h2 {
  padding-top: 120px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 93px;
  color: #3a3d42;
  text-align: center;
}
.testimoniTextUp {
  padding-top: 30px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: #3a3d42;
}
.testimoniTextDown {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  color: #676a71;
  padding-top: 45px;
}
.boxTestimoni {
  padding: 60px;
  margin-top: 60px;
  min-height: 496px;
  background: #ffffff;
  box-shadow: 0px 5px 70px rgba(197, 197, 197, 0.15);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxTestimoni > h5 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  padding-top: 30px;
  color: #373c46;
}
.boxTestimoni > span {
  padding-top: 9px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  color: #56585b;
}
.userTesImg {
  width: 120px;
  height: 120px;
  border-radius: 15px;
  border: 2px solid black;
}
.arrowImg {
  background-color: white;
  width: 40px;
  height: 40px;
}
/* testimoni */
/* footer */
.Footer {
  width: 100%;
  padding: 0 10%;
  height: 438px;
  background: #6379f4;
  display: flex;
  flex-direction: column;
}
.FooterUp {
  width: auto;
  height: 302px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.FooterUp > h5 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  padding-top: 80px;
  color: #ffffff;
}
.FooterUp > p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  padding-top: 30px;
  color: rgba(239, 239, 239, 0.75);
  padding-bottom: 50px;
}

.FooterDown {
  width: auto;
  height: 136px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.FooterDown > p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(239, 239, 239, 0.9);
}
.FooterDown > section > p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(239, 239, 239, 0.9);
}
.FooterDown > section {
  width: 30%;
}
/* footer */
