.userHome {
  min-height: 678px;
  background: #fafcff;
  margin-bottom: 35px;
}
.userHome > section {
  column-gap: 2%;
}
/* menubar */
.menuBar {
  min-height: 678px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  flex: 3;
  padding-left: 35px;
}
/* menubar */
.mainBox {
  min-height: 678px;
  flex: 7;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}
.mainBox > h3 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #4d4b57;
}
.mainBox > h5 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
  padding-bottom: 25px;
}
.mainBox > p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #7a7886;
}
.mainBox > h4 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #7a7886;
  text-align: center;
  margin-bottom: 50px;
}
.boxWrap {
  width: 100%;
  flex: 1;
}
.boxWrap > h5 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
  margin-bottom: 25px;
}
.textProfile {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #7a7886;
  width: 60%;
}
.imgBoxUser {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.boxListProfile {
  width: 60%;
  background: #e5e8ed;
  border-radius: 10px;
  height: 64px;
  padding: 0 20px;
  margin-bottom: 20px;
}
.boxListProfile > p {
  flex: 1;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  /* line-height: 28px; */
  color: #4d4b57;
  margin-top: 12.5px;
}
.boxForm {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}
.boxInputProfile {
  width: 100%;
  height: 92px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}
.boxInputProfile > h5 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #514f5b;
}

.boxFoot {
  width: 70%;
}
.boxInputProfile > input {
  width: 70%;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #514f5b;
  border: none;
}
.boxFoot > input {
  width: 100%;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #514f5b;
  border: none;
}
.btnManage {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  border: none;
  background-color: white;
  color: #6379f4;
}

/* change password component */
.inputStyle {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: rgba(169, 169, 169, 0.8);
  padding: 10px 10px;
  background-color: white;
  height: 44px;
  border: none;
  border-radius: 0;
  border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
}
.inputStyleActive {
  color: #3a3d42;
  border-bottom: 1.5px solid #6379f4;
}
.inputStyleError {
  color: #3a3d42;
  border-bottom: 1.5px solid #ff5b37;
}
.iconForm {
  width: 24px;
  height: 24px;
}
.boxPassword {
  width: 60%;
  margin-top: 130px;
}
.boxformPass {
  padding-bottom: 60px;
}
.btnForm {
  height: 57px;
  border: none;
  border-radius: 12px;
  /* Bold (Button) */

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.btnActive {
  background: #6379f4;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  color: white;
}
.btnDisable {
  color: #88888f;
  background: #dadada;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
}

@media only screen and (max-width: 950px) {
  .userHome {
    height: auto;
    padding: 20px auto;
  }
  .userHome > section {
    column-gap: 2%;
    flex-direction: column;
  }
  .menuBar {
    margin: 20px auto;
    max-height: 500px;
    min-height: 0;
    height: auto;
    width: 100%;
  }
  .mainBox {
    min-height: 500px;
    width: 100%;
    height: auto;
    flex: 7;
    display: flex;
    flex-direction: column;
    column-gap: 2.5%;
  }
  .actionDana {
    margin: 30px auto;
  }
  .chartBox {
    margin: 30px auto;
    width: 100%;
  }
  .historyBox {
    margin: 30px auto;
    width: 100%;
  }
}
